api/users.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Data type definitions -->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="user">
        <complexType>
          <sequence>
            <element name="value" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="void">
        <complexType>
          <sequence/>
        </complexType>
      </element>
    </schema>
  </types>

  <!-- Message definitions -->
  <message name="returns_user">
    <part name="user" type="xsd:user"/>
  </message>

  <message name="users">
    <part name="void" type="xsd:void"/>
  </message>

  <!-- PortType definitions -->
  <portType name="UserPortType">
    <operation name="users">
      <input message="tns:users"/>
      <output message="tns:returns_user"/>
    </operation>
  </portType>

  <!-- Binding definitions -->
  <binding name="UserBinding" type="tns:UserPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="users">
      <soap:operation soapAction="urn:xmethods-delayed-quotes#users"/>
      <input>
        <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <!-- Service definitions -->
  <service name="UserService">
    <port name="UserPort" binding="tns:UserBinding">
      <soap:address location="http://localhost/php-soap/server.php"/>
    </port>
  </service>

</definitions>
